<a href="https://colab.research.google.com/github/Tati-AG/TP1_Mineracao_de_Dados/blob/main/tratamento_de_dados.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [20]:
from google.colab import drive

drive.mount ('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [47]:
from collections import defaultdict
import pandas as pd
import numpy as np

tsv_file = '/content/drive/MyDrive/imdb_data/title.basics.tsv'

data_types = defaultdict (lambda: str, {4:bool, 5:'Int64', 6:'Int64'})

csv_table = pd.read_table (tsv_file, sep = '\t', header = 0, dtype = data_types, na_values = '\\N', converters = {4: lambda x: bool(int(x)) if x.isdigit() else x})

print (csv_table)

<ipython-input-47-d5163b0707e9>:9: ParserWarning: Both a converter and dtype were specified for column isAdult - only the converter will be used.
  csv_table = pd.read_table (tsv_file, sep = '\t', header = 0, dtype = data_types, na_values = '\\N', converters = {4: lambda x: bool(int(x)) if x.isdigit() else x})
<ipython-input-47-d5163b0707e9>:9: ParserWarning: Both a converter and dtype were specified for column isAdult - only the converter will be used.
  csv_table = pd.read_table (tsv_file, sep = '\t', header = 0, dtype = data_types, na_values = '\\N', converters = {4: lambda x: bool(int(x)) if x.isdigit() else x})
<ipython-input-47-d5163b0707e9>:9: ParserWarning: Both a converter and dtype were specified for column isAdult - only the converter will be used.
  csv_table = pd.read_table (tsv_file, sep = '\t', header = 0, dtype = data_types, na_values = '\\N', converters = {4: lambda x: bool(int(x)) if x.isdigit() else x})
<ipython-input-47-d5163b0707e9>:9: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  csv_table = pd.read_table (tsv_file, sep = '\t', header = 0, dtype = data_types, na_values = '\\N', converters = {4: lambda x: bool(int(x)) if x.isdigit() else x})

             tconst  titleType               primaryTitle  \
0         tt0000001      short                 Carmencita
1         tt0000002      short     Le clown et ses chiens
2         tt0000003      short               Poor Pierrot
3         tt0000004      short                Un bon bock
4         tt0000005      short           Blacksmith Scene
...             ...        ...                        ...
11217428  tt9916848  tvEpisode              Episode #3.17
11217429  tt9916850  tvEpisode              Episode #3.19
11217430  tt9916852  tvEpisode              Episode #3.20
11217431  tt9916856      short                   The Wind
11217432  tt9916880  tvEpisode  Horrid Henry Knows It All

                      originalTitle isAdult  startYear  endYear  \
0                        Carmencita   False       1894     <NA>
1            Le clown et ses chiens   False       1892     <NA>
2                    Pauvre Pierrot   False       1892     <NA>
3                       Un bon bock   False       1892     <NA>
4                  Blacksmith Scene   False       1893     <NA>
...                             ...     ...        ...      ...
11217428              Episode #3.17   False       2009     <NA>
11217429              Episode #3.19   False       2010     <NA>
11217430              Episode #3.20   False       2010     <NA>
11217431                   The Wind   False       2015     <NA>
11217432  Horrid Henry Knows It All   False       2014     <NA>

         runtimeMinutes                      genres
0                     1           Documentary,Short
1                     5             Animation,Short
2                     5    Animation,Comedy,Romance
3                    12             Animation,Short
4                     1                Comedy,Short
...                 ...                         ...
11217428            NaN         Action,Drama,Family
11217429            NaN         Action,Drama,Family
11217430            NaN         Action,Drama,Family
11217431             27                       Short
11217432             10  Adventure,Animation,Comedy

[11217433 rows x 9 columns]